.chart-container{
    /*border: 10px;
    border-style: solid;
    border-color: black;*/
    border: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(232, 230, 230);
    background-color: rgb(241, 246, 242);
    margin-top: 20px;
    margin-left: 220px;
    width: 980px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.chart-container-header{
    display: flex;
    height: 70px;
    width: 980px;
}

.sub-topic{
    height: 10px;
    width: 100px;
}

.h4{
    font-size: 15px;
    margin-left: 20px;
}

.dropdown-container{
    margin-top: 30px;
    margin-left: 70px;
    padding: 5px;
}

.label{
    font-family: monospace;
    font-size: 16px;
    margin-left: 700px;
}

.select{
    margin-top: 3px;
    background-color: white;
}

.chart-container-body{
    height: 80px;
    width: 900px;
    margin-left: 20px;
}


