.table-container{
    height: 100%;
    width: 82%;
    margin-top: 20px;
}

.d-flex{
    margin-left: 3px;
    display: flex;
    flex-direction: row;
}

.search-bar{
    height: 30px;
    width: 250px;
    background-color: rgb(212, 208, 208);
}

.btn-search{
    background-color: #ddd;
    border: none;
}

.radio-btn-container{
   margin-left: 20px; 
   margin-top: 5px;
   display: flex;
   flex-direction: row;
}

.radio-btn{
    font-size: small;
    padding-bottom: 2px;
}

/* .h2{
    font-size: 10px;
} */

.table{
    border-collapse: collapse ;
    width: 980px;
    margin-top: 20px;
    margin-left: 210px;
}

.table-1{
    border-collapse: collapse ;
    width: 980px;
    margin-top: 20px;
}

.table-head{
    background-color: #262626;
    padding: 10px;
    vertical-align: middle;
}

.th{
    font-size: 15px;
    font-family: monospace;
    color: #ffffff;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-data{
    background-color: #ffffff;
    padding: 2px;
}

.td{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btn{
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 5px;
}

.btn-edit{
    background-color: #5cb3f6;
    padding: 2px;
}

.btn-delete{
    background-color: #f86a6a;
    padding: 2px;
    margin-left: 3px;
}