
.app{
    display: flex; 
    flex-direction: row;   
}

/* Vertical Navigation Bar CSS*/
.VNavbaar{
    display: flex;
    flex-direction: column;
    height: 100vh ;
    width: 200px;
    position: absolute;
    background-color: #042c35;
    padding-top: 60px;
   
}

.VNavbaar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.VNavbaar li{
    text-align: center;
    border-bottom: 1px soild #ddd;
}

.VNavbaar li a{
    display: block;
    color:#eeebeb;
    padding: 10px;
    text-decoration: none;
}

.VNavbaar a:hover{
    background-color:#b3f1c4;
}

.VNavbaar img{
      
    height:100px;
    width:120px;
}

/*table CSS*/

.home{
    margin-left: 220px;
}
.table{
    margin-top: 200px;
    display: inline-block;  
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/*Horizontal Navigation bar CSS*/

.HNavbaar{
    display: flex;
    background-color: #d9d9d9;
    height: 150px;
    min-width: 83.5%;
    margin-left: 200px;
    position: absolute;
    align-items: center;
}

.HNavbaar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.HNavbaar li{
    display: inline-block;
    margin-right: 20px;
}

.HNavbaar a{
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.HNavbaar a:hover{
    background-color: #ddd;
}

/* Horizontal Navigation Bar Button CSS*/





/*Insert Page CSS*/
.insert{
    margin-left: 220px ;
    margin-top: 150px;
    align-items: center;
}

.submit{
    display: inline-block;
    margin-right: 10px;
    align-items: center;
}

/*details Page CSS */

.details{
    margin-left: 220px ;
    margin-top: 0;
    align-items: center;
}


/* Edit/Update Page CSS*/
.edit{
    margin-left: 220px ;
    margin-top: 150px;
    align-items: center;
}

/* PDF Button*/
.PDF{
    margin-left :550px;
    margin-top: 150px;
    
}

/*Search*/
.search{
    margin-top:100px;
    margin-left: 300px;
}

.Stable{

    display: inline-block;  
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    align-items: center;
}

th,td{
    padding: 8px;
    text-align: left;
    align-items: center;
}
th{
    background-color: #1a1919;
    align-items: center;
}
