/* .template{
    width: 100vw;
    height: 100vh;
  
} */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
   
}
div {
    font-weight: bold;
  }
.bold-extra {
    font-weight: 900;
  }
.side_bar{
    display: flex;
    position: fixed;
    top: 0rem;
   
    height:100vh;
    width: 180px;
    box-shadow: 0px 10px 10px;
  
    background-color: #042C35;
    padding-top: 10px;
 
}
.side_bar li{
    position:sticky;
    padding-top: 30px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10%;
    border-radius: 10px;
    text-align: center;
}
.side_bar ul{
   float: left;
}



.add_btn{
    text-align: right
}

.quantity{
    margin-left: 2cm;
 }
 
.row_order{
    margin-top:10%;
    margin-left: 30%;
    align-items: center;
}

img{
    width: 100px;
    height: 80px;
}

.navbar{

    z-index: 999;
    background-color: #042C35;
    right: 0;
    width: calc(100% - 180px);
    margin-left: 180px; 
  }
  
   

.d-flex{
   float:right;   
}

.nav-item{
    color: aliceblue;
    margin-left: 100px;
    transition: background-color 0.1s ease-in-out;  
}

.nav-item:hover{
    background-color:#17cf97;
    border-radius: 10px;
    color: #ffffff;  
}

.nav-link{
    color: white;
}

.active{
    background-color: #17cf97;
    border-radius: 10px;
    
}

.container{
   position: relative;
   left:100px;
   margin: 100px;
}

h4,h1{
    text-align: center;
}
.order{
    text-align:center;
    
}
.row_order{
    position: relative;
    margin-left: 0%;
    
    text-align: center;
   
    text-align: center;
}

.select{
  position: relative;
   left: 30%;
}

/* tr:nth-child(odd) {
    background-color:  #e6f4f7; /* light gray */

  /* target every even table row */
  tr:nth-child(even) {
    background-color:  #dce7e9; /* white */
  }

  input,textarea{
    background: linear-gradient(to right, #93c4cf, #dce7e9), /* Gradient */
                /* Original background color */
                #ffffff;
  } */
   
    textarea {
        height: 200px;
        width: 100px;
        resize: none;
      }
       
      .form-check-input {
        border-width: 3px;
      }       